<header>
    <div class="mainheader">
        <h5 style="margin-top: 8px"><a class="navbar-brand" href="#">
            <i class="bi bi-speaker"></i> Audio Hub
        </a></h5>
        
        <div class="d-flex">
            <a href="/logout" class="btn btn-outline-secondary me-2">Logout</a>
        </div>
    </div>
</header>