<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h4 class="mb-4"><i class="bi bi-speaker"></i> AudioHub</h4>
                <p>Your trusted destination for premium audio and smart wearables devices.</p>
                <div class="mt-3">
                    <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-4">
                <h5 class="mb-4">Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Home</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Products</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">About Us</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4">
                <h5 class="mb-4">Categories</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Headphones</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Earbuds</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Speakers</a></li>
                    <li class="mb-2"><a href="#" class="text-white text-decoration-none">Smartwatches</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 mb-4">
                <h5 class="mb-4">Contact Info</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="bi bi-geo-alt me-2"></i> Borminer Str. 09, Berlin 10711, Germany</li>
                    <li class="mb-2"><i class="bi bi-telephone me-2"></i> +49 12345678901</li>
                    <li class="mb-2"><i class="bi bi-envelope me-2"></i> audiohub@info.com</li>
                </ul>
            </div>
        </div>
        <hr class="my-4 bg-light">
        <div class="row">
            <div class="col-md-6 mb-3">
                <p class="mb-0">&copy; 2023 AudioHub. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end mb-3">
                <a href="#" class="text-white text-decoration-none me-3">Privacy Policy</a>
                <a href="#" class="text-white text-decoration-none">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>