<nav class="header navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="bi bi-speaker"></i> Audio Hub
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style=" margin-left: 10px;">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item dropdown" style="margin-right: 10px; margin-left: 10px;">
                    <a class="nav-link dropdown-toggle" href="/shop" id="navbarDropdown" data-bs-toggle="dropdown">
                        Shop
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/product/category/headphones">Headphones</a></li>
                        <li><a class="dropdown-item" href="/product/category/earbuds">Earbuds</a></li>
                        <li><a class="dropdown-item" href="/product/category/speakers">Speakers</a></li>
                        <li><a class="dropdown-item" href="/product/category/smartwatches">Smartwatches</a></li>
                    </ul>
                </li>
                <li class="nav-item" style="margin-right: 10px;">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item" style="margin-right: 10px;">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <div class="d-flex">
                <% if(!user) { %>
                <a href="/login" class="btn btn-outline-secondary me-2">Login</a>
                <a href="/register" class="btn btn-outline-secondary me-2">Register</a>
                <% } else { %>
                <a href="/logout" class="btn btn-outline-secondary me-2">Logout</a>
                <% } %>

            </div>
        </div>
    </div>
</nav>